* {
	max-width:900px;
	margin:auto;
}
h1.title {
	text-align:center;
}
.toc {
color: white;
	background-color: rgb(10, 30, 90);
	border-style: none;
	width: 80%;
	margin: auto;
	padding:10px 2px 10px 2px;
}
ul.toc {
	list-style-position:inside;
	margin:3px 25px 5px 75px;
	padding:3px 25px 3px 75px;
	width:initial;
	text-indent:-75px;
}
a.toca:link {
	color: rgb(242, 180, 50);
}
a.toca:visited {
	color: rgb(242, 100, 30);
}
h2.toc, h3.toc {
	margin: initial;
	width: initial;
	padding: initial;
	text-align: center;
	color: rgb(230, 255, 40)	
}
h2.toc {
	font-size:170%
}

.section {
	margin-top: 8px;
	margin-bottom: 6px;
	border-style: solid none none none;
}
.slug {
	margin-left: 15px;
	text-indent: -10px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.source_note {
	color: rgb(80, 80, 140);
	margin: 0px 0px 5px 0px;
}
.main {
	padding: 15px 15px;
	color: black;
	background-color: rgb(248, 240, 220);
}
.or_sec {
	font-weight:bold;
	margin: 6px 0px 6px 0px;
	padding:inherit;
}
.leadline {
	font-weight:bold;
	color: rgb(20, 40, 80)
}
.note {
	color: rgb(140,0, 220)
}
.unknown {
	color: rgb(200, 40, 40)
}
li {
	padding:2px 0px 4px 0px;
}
ol {
	list-style: none;
	text-indent: -20px;
	margin: 3px 3px 3px 15px;
	padding: 0px 0px 0px 15px;
}
ol.subsec {
}
ol.para {
}
ol.subpara {
}
ol.sub2para {
}
ol.sub3para {
}