* {
	max-width:900px;
	margin:auto;
}

.main {
	padding: 15px 15px;
	color: black;
	background-color: rgb(248, 240, 220);
}

.toc {
color: white;
	background-color: rgb(10, 30, 90);
	border-style: none;
	width: 80%;
	margin: auto;
	padding:15px 25px 15px 25px;
} 

div.toc li{
	list-style-position:inside;
	margin:3px 25px 5px 75px;
	padding:3px 55px 3px 55px;
	text-indent:-75px;
}
div.toc h2,h3,h4 {
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 8px;
}
div.toc h2 {
	font-size:170%;
	padding: 4px;
}
div.toc h3 {	
	color: rgb(230, 255, 40);
}
div.toc h4 {
	color: rgb(217, 231, 110)
}
div.toc a:link {
	color: rgb(255, 154, 33);
}
div.toc a:visited {
	color: rgb(242, 140, 30);
}

h1.title {
	text-align:center;
	margin: 10px;
}

h2 {
	text-align: center;
	margin: auto;
	width: 70%;
	border-top: solid 2px rgb(10, 30, 90)
}

h3 {
	text-align: center;
	margin: auto;
	width: 70%;	
	padding: 40px 0px 20px 0px;
	font-size: 125%;
	color: rgb(80, 20, 100);
}

h4 {
	text-align: center;
	margin: auto;
	width: 70%;
	padding: 30px 0px 15px 0px;
	font-size: 115%;
	color: rgb(80, 100, 20);
}

.section {
	text-align:justify;
	margin-top: 8px;
	margin-bottom: 6px;
	border-bottom: solid 1px;
}
	.section .alternate {
		margin: 0px 10px 10px 10px;
		padding: 0px 8px 2px 8px;
		border: none;
		font-size: 80%;
		color: rgb(90, 20, 20);
	}
	.section .alternate .note {
		margin: 20px 32px 0px 32px;
		padding: 0px;
		font-style: normal;
	}

	.section .form-box {
		width: 70%;
		margin: auto;
		padding: 4%;
		border: 2px solid rgb(50 50 140);
		background-color: rgb(230, 230, 250);
	}
	.section .form-box p {
		border: none;
		padding:5px;
		margin:2px;
		width:100%;
	}

	.section .leadline {
		font-weight:bold;
		color: rgb(14, 44, 104)
	}

	.section .note {
		color: rgb(70, 12, 104);
		margin: 5px 50px;
	}

	.section .or_sec {
		font-weight:bold;
		margin: 6px 0px 6px 0px;
		padding:inherit;
		color: rgb(14, 44, 104);
	}

	.section .slug {
		text-indent: -15px;
		margin: 6px 3px 6px 25px;
	}

	.section .source_note {
		color: rgb(100, 80, 160);
		margin: 0px 0px 5px 0px;
		font-size: 90%
	}

	.section .unknown {
		color: rgb(129, 12, 12);
		font-style:normal;
	}

li {
	padding:2px 0px 4px 0px;
}
ol {
	list-style: none;
	text-indent: -20px;
	margin: 3px 3px 3px 15px;
	padding: 0px 0px 0px 15px;
}
ol.subsec {
}
ol.para {
}
ol.subpara {
}
ol.sub2para {
}
ol.sub3para {
}