* {
	max-width:900px;
	margin:auto;
}
h1.title {
	text-align:center;
	margin: 10px;
}
.toc {
color: white;
	background-color: rgb(10, 30, 90);
	border-style: none;
	width: 80%;
	margin: auto;
	padding:15px 25px 15px 25px;
} 

div.toc li{
	list-style-position:inside;
	margin:3px 25px 5px 75px;
	padding:3px 55px 3px 55px;
	text-indent:-75px;
}
div.toc h2,h3 {
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 8px;
}
div.toc h2 {
	font-size:170%;
	padding: 4px;
}
div.toc h3 {	
	color: rgb(230, 255, 40);
}
div.toc a:link {
	color: rgb(255, 154, 33);
}
div.toc a:visited {
	color: rgb(242, 140, 30);
}
.form-box {
	width: 70%;
	margin: auto;
	padding: 5%;
	border: 2px;
	background-color: rgb(230, 230, 250);
}
.form-box p {
	padding:5px;
	margin:5px;
	width:100%;
}

.section {
	margin-top: 8px;
	margin-bottom: 6px;
	border-style: solid none none none;
}
.slug {
	margin-left: 15px;
	text-indent: -10px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.source_note {
	color: rgb(80, 80, 140);
	margin: 0px 0px 5px 0px;
}
.main {
	padding: 15px 15px;
	color: black;
	background-color: rgb(248, 240, 220);
}
.or_sec {
	font-weight:bold;
	margin: 6px 0px 6px 0px;
	padding:inherit;
}
.leadline {
	font-weight:bold;
	color: rgb(20, 40, 80)
}
.note {
	color: rgb(140,0, 220)
}
.unknown {
	color: rgb(200, 40, 40)
}
li {
	padding:2px 0px 4px 0px;
}
ol {
	list-style: none;
	text-indent: -20px;
	margin: 3px 3px 3px 15px;
	padding: 0px 0px 0px 15px;
}
ol.subsec {
}
ol.para {
}
ol.subpara {
}
ol.sub2para {
}
ol.sub3para {
}